[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-apscheduler = "*"
flask-cors = "*"
bs4 = "*"
pandas = "*"
python-dotenv = "*"
selenium = "*"
numpy = "*"
scipy = "*"
flask-socketio = "*"
eventlet = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.10"
